@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}
@custom-variant dark (&:where([data-theme=dim], [data-theme=dim] *));

@layer components {
  .prose {
    color: var(--tw-prose-body);
    max-width: 65ch;
  }

  .prose :where(p):not(:where(.not-prose, .not-prose *)) {
    @apply mt-8 mb-8;
  }

  .prose :where(.lead):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-lead);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .prose :where(a):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;
  }

  .prose :where(strong):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-bold);
    font-weight: 600;
  }

  .prose :where(a strong),
  .prose :where(blockquote strong),
  .prose :where(thead th strong) {
    color: inherit;
  }

  .prose :where(ol):not(:where(.not-prose, .not-prose *)) {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
  }

  .prose :where(ul):not(:where(.not-prose, .not-prose *)) {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
  }

  .prose :where(ol > li)::marker {
    font-weight: 400;
    color: var(--tw-prose-counters);
  }

  .prose :where(ul > li)::marker {
    color: var(--tw-prose-bullets);
  }

  .prose :where(dt):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.25em;
  }

  .prose :where(hr):not(:where(.not-prose, .not-prose *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .prose :where(blockquote):not(:where(.not-prose, .not-prose *)) {
    font-weight: 500;
    font-style: italic;
    color: var(--tw-prose-quotes);
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--tw-prose-quote-borders);
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1em;
  }

  .prose :where(blockquote p:first-of-type)::before {
    content: open-quote;
  }

  .prose :where(blockquote p:last-of-type)::after {
    content: close-quote;
  }

  .prose :where(h1):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-headings);
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  .prose :where(h1 strong),
  .prose :where(h2 strong),
  .prose :where(h3 strong),
  .prose :where(h4 strong) {
    font-weight: 900;
    color: inherit;
  }

  .prose :where(h2):not(:where(.not-prose, .not-prose *)) {
    @apply text-[1.5em] font-bold mt-8 mb-4 leading-[1.333];
    color: var(--tw-prose-headings);
  }

  .prose :where(h3):not(:where(.not-prose, .not-prose *)) {
    @apply text-[1.25em] font-semibold mt-6 mb-3 leading-[1.6];
    color: var(--tw-prose-headings);
  }

  .prose :where(h4):not(:where(.not-prose, .not-prose *)) {
    @apply font-semibold mt-6 mb-2 leading-[1.5];
    color: var(--tw-prose-headings);
  }

  .prose :where(img, picture, video):not(:where(.not-prose, .not-prose *)) {
    @apply mt-8 mb-8 block;
  }

  .prose :where(kbd):not(:where(.not-prose, .not-prose *)) {
    font-weight: 500;
    font-family: inherit;
    color: var(--tw-prose-kbd);
    box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
    font-size: 0.875em;
    border-radius: 0.3125rem;
    padding: 0.1875em 0.375em;
  }

  .prose :where(code):not(:where(.not-prose, .not-prose *)) {
    color: var(--tw-prose-code);
    font-weight: 600;
    font-size: 0.875em;
    counter-reset: line;
  }

  .prose :where(code)::before,
  .prose :where(code)::after {
    content: none;
  }

  .prose :where(pre):not(:where(.not-prose, .not-prose *)) {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.6;
  }

  [data-highlighted-line] {
    background-color: rgba(253, 224, 71, 0.2);
  }
}